@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&family=VT323&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rajdhani", "VT323", sans-serif;
  background-color: #313131;
  color: white;
}

.mobile-container {
  height: 667px;
  width: 375px;
  background-color: #860000;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  background-image: url("../assets/bg.jpeg");
  background-size: cover;
}

.mobile-container .leaderboard-container {
  width: 100%;
  height: 100%;
  background-color: #4646cf;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile-container .leaderboard-container #close-leaderboard-button {
  position: absolute;
  top: 5px;
  left: 10px;
  background-color: black;
  padding: 0 8px;
  border: 1px solid white;
}

.mobile-container .leaderboard-container .next-prev-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
  margin-top: 16px;
}

.mobile-container .leaderboard-container .next-prev-btn-container button {
  background-color: red;
  border: 1px solid white;
  color: white;
  outline: none;
  font-size: 25px;
  padding: 4px 16px;
  border-radius: 12px;
}

.mobile-container .leaderboard-container .leaderboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 12px;
  gap: 14px;
  width: 85%;
  height: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid white;
  padding: 15px 0;
}

.mobile-container .leaderboard-container .leaderboard div {
  border: 2px solid white;
  background-color: #00cfe2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 12px;
  width: 90%;
  height: 16%;
  background-color: #00a4b3;
  gap: 12px;
}

.mobile-container .leaderboard-container .leaderboard div h2 {
  background-color: #e7c400;
  padding: 0 15px;
  border-radius: 8px;
  border: 1px solid white;
  font-weight: bold;
}

.mobile-container .leaderboard-container .leaderboard div .username {
  color: #790000;
}

.mobile-container .mobile-container__game-over {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 4;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, right bottom, from(#0c0053), color-stop(#0b0049), to(#100166));
  background: linear-gradient(to bottom right, #0c0053, #0b0049, #100166);
  border: 2px solid #ff6e6e;
}

.mobile-container .mobile-container__game-over form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.mobile-container .mobile-container__game-over form input {
  height: 35px;
  font-size: 25px;
  padding-left: 12px;
  width: 220px;
  border-radius: 12px;
  border: 4px solid #ff8080;
}

.mobile-container .mobile-container__game-over p {
  color: red;
}

.mobile-container .mobile-container__game-over button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff0000;
  color: #ffffff;
  font-family: "Rajdhani", sans-serif;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease, -webkit-transform 0.3s ease;
}

.mobile-container .mobile-container__game-over button:hover {
  background-color: #ff3333;
  -webkit-transform: scale(1.7s);
          transform: scale(1.7s);
}

.mobile-container .mobile-container__game-over button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transform: skewX(-30deg);
          transform: skewX(-30deg);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.mobile-container #score {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  font-size: 40px;
  padding: 0 10px 0 10px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  z-index: 4;
}

.mobile-container #countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 6.4rem;
  display: none;
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
}

.mobile-container .mobile-container__start-game {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}

.mobile-container .mobile-container__start-game #start-game-leaderboard {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff0000;
  color: #ffffff;
  font-family: "Rajdhani", sans-serif;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease, -webkit-transform 0.3s ease;
}

.mobile-container .mobile-container__start-game h1 {
  opacity: 1;
  width: 100%;
  font-size: 3em;
  text-align: center;
}

.mobile-container .mobile-container__start-game div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile-container .mobile-container__start-game div img {
  width: 100px;
  height: 100px;
  -webkit-filter: invert(1);
          filter: invert(1);
  border: 2px solid black;
  border-radius: 50%;
  padding: 10px;
}

.mobile-container .mobile-container__start-game div button {
  font-size: 4em;
  color: white;
  border-radius: 50%;
  outline: none;
  border: 2px solid white;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  padding-left: 10px;
}

.mobile-container .circle {
  width: 12%;
  height: 0;
  padding-top: 12%;
  position: absolute;
  top: -50px;
  left: 0;
  background-color: #6565ff;
  -webkit-animation-name: move-obstacle;
          animation-name: move-obstacle;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  border-radius: 50%;
}

.mobile-container .circle::before {
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  position: absolute;
  border: 0.5em solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
}

.mobile-container .square {
  width: 12%;
  padding-top: 12%;
  position: absolute;
  top: -50px;
  left: 0;
  background-color: #ff8080;
  -webkit-animation-name: move-obstacle;
          animation-name: move-obstacle;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  border-radius: 6px;
}

.mobile-container .square::before {
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  position: absolute;
  border: 0.5em solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
}

.mobile-container__lane {
  position: absolute;
  top: 0;
  height: 100%;
  width: 25%;
}

.mobile-container__lane:first-child {
  border-right: 2px solid #ff8080;
  left: 0;
}

.mobile-container__lane:first-child .lane__sprite {
  position: absolute;
  bottom: 15%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50%;
  height: 10%;
  border: 4px solid white;
  background: -webkit-gradient(linear, left top, right bottom, from(#ebeb52), color-stop(#58c8fb), color-stop(#bbbb53), to(#0f77b3));
  background: linear-gradient(to bottom right, #ebeb52, #58c8fb, #bbbb53, #0f77b3);
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px rgba(235, 235, 82, 0.8), 0 0 10px rgba(88, 200, 251, 0.8), 0 0 10px rgba(187, 187, 83, 0.8), 0 0 10px rgba(15, 119, 179, 0.8);
          box-shadow: 0 0 10px rgba(235, 235, 82, 0.8), 0 0 10px rgba(88, 200, 251, 0.8), 0 0 10px rgba(187, 187, 83, 0.8), 0 0 10px rgba(15, 119, 179, 0.8);
}

.mobile-container__lane:first-child .lane__sprite::after {
  content: "";
  position: absolute;
  bottom: -20%;
  left: -5%;
  width: 10%;
  height: 70%;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-filter: blur(8px);
          filter: blur(8px);
  -webkit-animation-name: trail-effect;
          animation-name: trail-effect;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.mobile-container__lane:nth-child(2) {
  border-right: 6px solid #ff8080;
  left: 25%;
}

.mobile-container__lane:nth-child(3) {
  border-right: 2px solid #ff8080;
  left: 50%;
}

.mobile-container__lane:nth-child(4) {
  left: 75%;
}

.mobile-container__lane:nth-child(4) .lane__sprite {
  position: absolute;
  bottom: 15%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50%;
  height: 10%;
  border: 4px solid white;
  background: -webkit-gradient(linear, left top, right bottom, from(#ebeb52), color-stop(#58c8fb), color-stop(#bbbb53), to(#0f77b3));
  background: linear-gradient(to bottom right, #ebeb52, #58c8fb, #bbbb53, #0f77b3);
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px rgba(235, 235, 82, 0.8), 0 0 10px rgba(88, 200, 251, 0.8), 0 0 10px rgba(187, 187, 83, 0.8), 0 0 10px rgba(15, 119, 179, 0.8);
          box-shadow: 0 0 10px rgba(235, 235, 82, 0.8), 0 0 10px rgba(88, 200, 251, 0.8), 0 0 10px rgba(187, 187, 83, 0.8), 0 0 10px rgba(15, 119, 179, 0.8);
}

.mobile-left-btn {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 6;
  display: none;
}

.mobile-right-btn {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 6;
  display: none;
}

@-webkit-keyframes move-obstacle {
  0% {
    top: -50px;
  }
  100% {
    top: 110%;
  }
}

@keyframes move-obstacle {
  0% {
    top: -50px;
  }
  100% {
    top: 110%;
  }
}

@media all and (max-width: 820px) {
  .mobile-container {
    height: 100vh;
    width: 100vw;
  }
}
/*# sourceMappingURL=styles.css.map */